@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

.sport_specific:hover {
  h3 {
    color: #0072eb;
  }
  p {
    color: #282e38;
  }
}

.game_block .heading {
  padding-right: 24px;
  transition: padding-right 1s;
  -moz-transition: padding-right 1s; /* Firefox */
  -webkit-transition: padding-right 1s; /* Safari and Chrome */
  -o-transition: padding-right 1s; /* Opera */
}

.game_block:hover .heading {
  padding-right: 10px;
}

.game_block:hover .right_icon path {
  stroke: blue;
}

/* .game_block .list_container {
  li:before {
    content: url("../img/play_arrow.svg");
    width: 24px;
    height: 24px;
  }
  li {
    display: flex;
    align-items: flex-start;
  }
} */

.slider_section .tns-controls {
  position: absolute;
  top: 0;
  right: 0;
}

/* CSS to hide scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-input::placeholder {
  padding-left: 40px;
  color: #282e38;
}

.icon-hover:hover path {
  fill: #0072eb;
}
