@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

.display_input {
  display: block !important;
}

.sport_specific:hover {
  h3 {
    color: #0072eb;
  }
  p {
    color: #282e38;
  }
}

.game_block .right_icon path {
  transition: 0.3s ease-in;
}

.game_block:hover .right_icon path {
  stroke: #0072eb;
  transform: translateX(30%);
}

.selected-heading {
  color: #0072eb;
}

.selected-paragraph {
  color: #282e38;
}

.selected-tab {
  border-color: #0072eb;
  box-shadow: 0px 0px 0px 3px rgba(0, 114, 235, 0.42);
}

.game_block .list_container {
  .play_btn:before {
    content: url("../img/play_arrow.svg");
    width: 24px;
    height: 24px;
  }
  li {
    display: flex;
    align-items: flex-start;
  }
}

.splide__slide:hover h4 {
  text-decoration: underline;
}

.single_slide .right_icon path {
  transition: 0.2s ease-in;
}
.single_slide:hover .right_icon path {
  stroke: #0072eb;
  transform: translateX(10%);
}

/* CSS to hide scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-input::placeholder {
  padding-left: 40px;
  color: #282e38;
}

.icon-hover:hover path {
  fill: #0072eb;
}

.dropdown-terms:hover .dropdown-menu-terms {
  display: block;
}

.overlay_agent {
  position: absolute;
  left: 25%;
  bottom: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  transition: 0.5s ease;
  opacity: 0;
}

.live_agent_container:hover .overlay_agent {
  animation: overlay_animation 2s forwards;
  animation-fill-mode: forwards;
}

@keyframes overlay_animation {
  from {
    bottom: 50%;
    opacity: 0;
  }
  to {
    bottom: 80%;
    opacity: 1;
  }
}

@media (max-width: 640px) {
  @keyframes overlay_animation {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 28%;
      opacity: 1;
    }
  }
}

#options_value {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 30px;
  background-image: url("../img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
}
.mob_options {
  position: relative;
}
.opt_val {
  width: 100%;
}

.option.selected {
  border-left-color: #007bff;
  color: #282e38;
}

.toggleDiv {
  transition: opacity 0.1s ease-in-out;
}

.toggleDiv.hidden_div {
  opacity: 0;
  pointer-events: none;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/**
Burger Menu for mobile on how to bet page 
**/

@media (max-width: 1280px) {
  .bet_menu {
    left: -401px;
    transition: left 1s;
  }

  .bet_menu.show {
    left: 0px;
  }
}
